body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}

.header {
    grid-area: header;
    height: 70px;
    background-color: blue;
}
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: grey;
}
.main-container {
    grid-area: main;
    background-color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
}