.slide ul,
.slide h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.slide{

    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
}